html,
body {
    position: relative;
    height: 100%;
    font-family: Source Sans Pro, sans-serif;
    /* font-weight: 500; */
    background-color: #f8f9fa;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.body-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header {
    text-align: center;
    margin: 2.5rem 0;
}

h1 {
    text-transform: uppercase;
    /* text-transform: lowercase; */
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: 1rem;
}

h4 {
    margin-top: 0;
    font-weight: 300;
    color: gray;
    /* text-transform: uppercase; */
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

footer {
    text-align: center;
    bottom: 0;
    font-weight: 400;
    color: gray;
    font-size: .9rem;
}

.mobile-header {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .mobile-header {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
}