html,
body {
    position: relative;
    height: 100%;
    font-family: Source Sans Pro, sans-serif;
    /* font-weight: 500; */
    background-color: #f8f9fa;
    font-size: 14px;

    /* Font smoothing */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

p {
    font-size: .8rem;
}

.body-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header {
    text-align: center;
    margin: 2.5rem 0;
}

h1 {
    text-transform: uppercase;
    /* text-transform: lowercase; */
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

h2 {
    font-weight: 600;
    font-size: 1.1rem;
}

h4 {
    margin-top: 0;
    font-weight: 300;
    color: gray;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

footer {
    text-align: center;
    bottom: 0;
    font-weight: 400;
    color: gray;
    font-size: .9rem;
}

.mobile-header {
    display: block;
    text-align: center;
    text-transform: uppercase;
}


.card {
    border: none;
}



@media (min-width: 600px) {
    html,body {
        font-size: 16px;
    }


    .mobile-header {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}


#branja-url {
    color: gray;
}

#branja-logo {
    filter: grayscale(100%);
    transition: .12s;
    width: 1.3rem;
    height: 1.3rem;
}

#branja-url:hover #branja-logo {
    filter: grayscale(0%);
}

@media (min-width: 600px) {
    #branja-logo {
        width: 1.875rem;
        height: 1.875rem;
    }

}

